{
  "TOKEN_EXCHANGE_URL": "http://localhost:7071/api/oauth2/token",
  "SNOWFLAKE_ACCOUNT": "YOUR_ACCOUNT.us-east-1",
  "SNOWFLAKE_WAREHOUSE": "COMPUTE_WH",
  "SNOWFLAKE_ROLE": "",
  "SNOWFLAKE_USERNAME": ""
}
